<!DOCTYPE html>
<html>
    <head>
        <title>Hello, World!</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css"/>
    </head>
    <body>
        <h1>Hello, World!
        <img src="{{ STATIC_URL }}static/iro4ka.jpg" width="30" height="30">
        </h1>
        <h2>This is a training site, it will be used to study
            python/django, html/css.</h2>
        <h3>As you can see, here are used the headings of various
            levels</h3>
        <h4>
            <p>Here is a bulleted list:</p>
		<ul>
            <li>Element 1;</li>
            <li>element 2;</li>
            <li>element 3;</li>
            <li>last element.</li>
        </ul>
        <p>And a numbered list:</p>
		<ol>
            <li>Element 1;</li>
            <li>element 2;</li>
            <li>element 3;</li>
            <li>last element.</li>
        </ol>
		</h4>
        <p>And even the table:</p>
        <table style="border: solid">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                    <th>Column 4</th>
                    <th>Column 5</th>
                    <th>Column 6</th>
                </tr>
            </thead>
            <tr>
                <td>String 1 Column 1</td>
                <td>String 1 Column 2</td>
                <td>String 1 Column 3</td>
                <td>String 1 Column 4</td>
                <td>String 1 Column 5</td>
                <td>String 1 Column 6</td>
            </tr>
            <tr>
                <td>String 2 Column 1</td>
                <td>String 2 Column 2</td>
                <td>String 2 Column 3</td>
                <td>String 2 Column 4</td>
                <td>String 2 Column 5</td>
                <td>String 2 Column 6</td>
            </tr>
            <tr>
                <td>String 3 Column 1</td>
                <td>String 3 Column 2</td>
                <td>String 3 Column 3</td>
                <td>String 3 Column 4</td>
                <td>String 3 Column 5</td>
                <td>String 3 Column 6</td>
            </tr>
            <tr>
                <td>String 4 Column 1</td>
                <td>String 4 Column 2</td>
                <td>String 4 Column 3</td>
                <td>String 4 Column 4</td>
                <td>String 4 Column 5</td>
                <td>String 4 Column 6</td>
            </tr>
            <tr>
                <td>String 5 Column 1</td>
                <td>String 5 Column 2</td>
                <td>String 5 Column 3</td>
                <td>String 5 Column 4</td>
                <td>String 5 Column 5</td>
                <td>String 5 Column 6</td>
            </tr>
            <tr>
                <td>String 6 Column 1</td>
                <td>String 6 Column 2</td>
                <td>String 6 Column 3</td>
                <td>String 6 Column 4</td>
                <td>String 6 Column 5</td>
                <td>String 6 Column 6</td>
            </tr>
            <tr>
                <td>String 7 Column 1</td>
                <td>String 7 Column 2</td>
                <td>String 7 Column 3</td>
                <td>String 7 Column 4</td>
                <td>String 7 Column 5</td>
                <td>String 7 Column 6</td>
            </tr>
        </table>
    </body>
</html>
