<!DOCTYPE html>
<html>
    <head>
        <title>Schedule</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css"/>
    </head>
    <body>
        <h1>Schedule
        <img src="{{ STATIC_URL }}static/book.png" width="30" height="30">
        </h1>
        <h2>This is an educational site where you can check the schedule.</h2>
        <h3>Group BST1801</h3>
        <table style="border: solid">
            <thead>
                <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th> 
                </tr>
            </thead>
           <tr>
               <ol>
                <td></td>
                <td>9:30 - 11:05 | IT (lecture)/Higher mathematics (lecture)
                <li>Pomortsev Leonid Alexandrovich/Manenkov Sergei Alexandrovich</li></p></td>
                <td></td>
                <td></td>
                <td>9:30 - 11:05 | -----/Physics (lecture)
                <li>-----/Latyshev Sergei Vladimirovich</li></p></td>
               </ol>
            </tr>
            <tr>
               <ol>
                <td>11:15 - 12:50 | PE
                <li>Sedakova Tatyana Viktorovna</li></p></td>
                <td>11:15 - 12:50 | Higher mathematics (practice)
                <li>Manenkov Sergei Alexandrovich</li></p></td>
                <td>11:15 - 12:50 | English
                <li>Polukarova Zinaida Vasilievna</li></p></td>
                <td>11:15 - 12:50 | Philosophy (lecture)/-----
                <li>Muzychenko Madina Yarakhmedovna/-----</li></p></td>
                <td>11:15 - 12:50 | Physics (practice)/Physics (labs)
                <li>Degtyarev Vladimir Fomich</li></p></td>
               </ol>
            </tr>
            <tr>
               <ol>
                <td>13:00 - 14:35 | PLT (lecture)
                <li>Gorodnichev Mikhail Gennadievich</li></p></td>
                <td>13:00 - 14:35 | IT (practice)
                <li>Pomortsev Leonid Alexandrovich</li></p></td>
                <td>13:00 - 14:35 | PLT (practice)
                <li>Gorodnichev Mikhail Gennadievich</li></p></td>
                <td></td>
                <td>13:00 - 14:35 | Function theory (practice)
                <li>Manenkov Sergei Alexandrovich</li></p></td>
              </ol>
            </tr>
            <tr>
               <ol>
                <td>15:15 - 16:45 | Function theory (lecture)
                <li>Manenkov Sergei Alexandrovich</li></p></td>
                <td></td>
                <td>15:15 - 16:45 | PE
                <li>Sedakova Tatyana Viktorovna</li></p></td>
                <td>15:15 - 16:45 | English
                <li>Gromova Larisa Evgenievna</li></p></td>
                <td></td>
               </ol>
            </tr>
            <tr>
               <ol>
                <td>16:55 - 18:25 | PLT (labs)
                <li>Gorodnichev Mikhail Gennadievich</li></p></td>
                <td></td>
                <td>16:55 - 18:25 | Philosophy (practice)
                <li>Muzychenko Madina Yarakhmedovna</li></p></td>
                <td></td>
                <td></td>
               </ol>
            </tr>
        </table>
    </body>
</html>
